<ion-header>
</ion-header>

<ion-content>

  <ion-grid fixed style="height: 100vh; padding: 0%; text-align: center;">

    <ion-row align-items-center style="color: white;">

      <ion-col
        *ngFor="let categorie of this.categories"
        size="4"
        [ngStyle]="{
          'background': 'url(assets/img/themesBackgrounds/bijoux.jpg)' + categorie.color,
          'background-repeat': 'no-repeat',
          'background-position': 'center center',
          'background-size': 'cover',
          'background-blend-mode': 'multiply',
          'box-shadow': 'inset 0 0 0 2000px rgba(0, 0, 0, 0.25)'
        }"
        class="btnTheme"
        (click)="GoPlay()"
      >
          
        <img style="width: 25vw; opacity: 0.95;" [src]="'assets/img/themesBackgrounds/bijoux.jpg'">

        <br>

        <p style="font-size: 1.25em; opacity: 0.95; text-transform: capitalize;">
          rien
        </p>

      </ion-col>

      <!-- Admin section -->
      <ion-col
        size="4"
        [ngStyle]="{
          'background': 'url(assets/img/themesBackgrounds/voitures.jpg) tomato',
          'background-repeat': 'no-repeat',
          'background-position': 'center center',
          'background-size': 'cover',
          'background-blend-mode': 'multiply',
          'box-shadow': 'inset 0 0 0 2000px #ff00964d'
        }"
        class="btnTheme"
        (click)="GoAddItem()"
      >
          
        <ion-img style="width: 25vw; opacity: 0.95;" [src]="'assets/img/admin.png'"></ion-img>

        <br>

        <p style="font-size: 1.25em; opacity: 0.95; text-transform: capitalize;">
          Admin pannel
        </p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
