<ion-header>
</ion-header>

<ion-content>

  <ion-grid fixed style="height: 100vh; padding: 0%; text-align: center;">

    <ion-row align-items-center style="color: white;">

      <!-- 1st row -->
      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/pagani.jpg) #fd625e;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('voitures')"
      >
          
        <img style="width: 25vw; opacity: 0.95;" src="/assets/img/car.png">

        <br>

        <p style="font-size: 1.25em; opacity: 0.95;">Voitures</p>

      </ion-col>

      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/wine.jpg) #87ba3b;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('nourriture')"
      >
          
        <img style="width: 25vw; opacity: 0.95;" src="/assets/img/grocery.png">

        <br>

        <p style="font-size: 1.25em; opacity: 0.95;">Nourriture</p>

      </ion-col>

      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/champagne.jpg) #f9d406;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('alcools')"
      >
          
        <img style="width: 25vw; opacity: 0.95;" src="/assets/img/liquor.png">

        <br>

        <p style="font-size: 1.25em; opacity: 0.95;">Alcools</p>

      </ion-col>

      <!-- 2st row -->
      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/furniture.jpg) #df7b23;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('mobiliers')"
      >
          
        <img style="width: 25vw; opacity: 0.95;" src="/assets/img/living-room.png">

        <br>

        <p style="font-size: 1.25em; opacity: 0.95;">Mobiliers</p>

      </ion-col>
      
      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/painting.jpg) #13a88a;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('loisirs')"
      >
          
        <img style="width: 25vw;" src="/assets/img/sport.png">

        <br>

        <p style="font-size: 1.25em;">Loisirs</p>

      </ion-col>

      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/watch.jpg) #0071bd;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('bijoux')"
      >
          
        <img style="width: 25vw;" src="/assets/img/watch.png">

        <br>

        <p style="font-size: 1.25em;">Bijoux</p>

      </ion-col>

      <!-- 3nd row -->
      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/fashion.jpg) #fbc02f;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('vêtements')"
      >
          
        <img style="width: 25vw;" src="/assets/img/cloth.png">

        <br>

        <p style="font-size: 1.25em;">Vêtements</p>

      </ion-col>

      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/laptop.jpg) #278fc6;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoPlay('high-tech')"
      >
          
        <img style="width: 25vw;" src="/assets/img/computer.png">

        <br>

        <p style="font-size: 1.25em;">High-Tech</p>

      </ion-col>

      <ion-col
        size="4"
        style="
          background: url(assets/img/themesBackgrounds/waikiki.jpg) #6d4e89;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-blend-mode: multiply;
          box-shadow: inset 0 0 0 2000px #ff00964d;
        "
        class="btnTheme"
        (click)="GoAddItem()"
      >
          
        <img style="width: 25vw;" src="/assets/img/house.png">

        <br>

        <p style="font-size: 1.25em;">Immobilier</p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
