<ion-content>

  <div 
    style="
      height: 50vh;
      width: 70vw;

      position: absolute;
      left: 56%;
      top: 60vh;
      margin-left: -150px;
      margin-top: -150px;
    "
  >

    <!-- Header -->
    <div
      class="badAnswer"
      style="
        text-align: center;
        color: #ffffff;
        height: 20%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      "
    >
      <p
        style="
          font-size: 1.25em;
          font-weight: 600;
          margin-top: 0% !important;
          padding-top: 9%;
        "
      >
        BRAVO !
      </p>
    </div>

    <!-- Footer -->
    <div
      style="
        background-color: #ffffff;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 4%;
        height: 40%;
        text-align: center;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
      "
    >
      <p style="color: #ff3061; margin-top: 0%; padding-top: 6%;">
        <ion-icon name="alert"></ion-icon>
        Vous venez de gagner <b style="font-size: 1.25em;">{{diamonds}} 💎</b>
      </p>

      <ion-button 
        (click)="goBack()"
        expand="full"
        shape="round"
        size="large"
        color="retry"
        style="color: #804f00;"
      >
        Collecter
      </ion-button>

    </div>

  </div>

</ion-content>