<ion-header>
</ion-header>

<ion-content>
  
  <app-theme-bar [theme]="'Challenges'" [rq_color]="'#fd625e'"></app-theme-bar>

  <div *ngFor="let quest of this.db.quests">

    <!-- Not done -->
    <ion-card  color="backgroundTomato" *ngIf="quest.status === 0">

      <ion-card-content>

        <ion-card-title style="text-transform: uppercase; font-weight: 400; font-size: 1.25em; text-align: center;">
          <span [innerHTML]="quest.name"></span>
        </ion-card-title>
        
        <ion-card-subtitle style="text-align: center;">
          Récompence: {{quest.reward}} 💎
        </ion-card-subtitle>

        <app-progression-bar
          [value]="quest.done"
          [goal]="quest.result"
          [color1]="'#a52a2a'"
          [color2]="'#ffa500'"
        ></app-progression-bar>

      </ion-card-content>

    </ion-card>

    <!-- Done but not collected -->
    <ion-card style="text-align: justify;" color="backgroundTomato" *ngIf="quest.status === 1 && quest.collected === 0">
      
      <ion-card-header>

        <ion-row>

          <ion-col size="12">

            <ion-card-title style="font-weight: 400; text-align: center;">

              <ion-icon name="checkmark"></ion-icon>
              <span [innerHTML]="quest.name" style="padding-left: 2%;"></span>

              <br>
              
              <ion-button
                style="
                  width: 50%;
                "
                color="RewardBtn"
                (click)="collect(quest.id, quest.reward)"
                *ngIf="quest.collected === 0"
              >
                Collect {{quest.reward}} 💎
              </ion-button>

            </ion-card-title>

          </ion-col>

        </ion-row>

      </ion-card-header>

    </ion-card>

    <!-- Done and collected -->
    <ion-card style="text-align: center;" color="backgroundTomato" *ngIf="quest.status === 1 && quest.collected === 1">
      
      <ion-card-header>

        <ion-card-title style="font-weight: 400;">
          <ion-icon name="checkmark"></ion-icon>
          <span [innerHTML]="quest.name" style="padding-left: 2%;"></span>
        </ion-card-title>

        <ion-card-subtitle>
          Reward: {{quest.reward}} 💎
        </ion-card-subtitle>

      </ion-card-header>

    </ion-card>

  </div>

</ion-content>
