<ion-header>
</ion-header>

<ion-content>
  
  <app-theme-bar [theme]="'Challenges'" [rq_color]="'#fd625e'"></app-theme-bar>

  <div *ngFor="let quest of this.db.quests">

    <ion-card  color="dangerRichQuizz" *ngIf="quest.status === 0">

      <ion-card-content>

        <ion-card-title style="text-transform: uppercase; font-weight: 700; font-size: 1.25em;">
          {{quest.name}}
        </ion-card-title>
        
        <ion-card-subtitle>
          Récompence: {{quest.reward}} 💎
        </ion-card-subtitle>

        <app-progression-bar 
          [value]="quest.done"
          [goal]="quest.result"
          [color1]="'#a52a2a'"
          [color2]="'#ffa500'"
        ></app-progression-bar>

      </ion-card-content>

    </ion-card>

    <!-- Done but not collected -->
    <ion-card style="text-align: justify;" color="successRichQuizz" *ngIf="quest.status === 1 && quest.collected === 0">
      
      <ion-card-header>

        <ion-row>

          <ion-col size="8">

            <ion-card-title style="font-weight: 600;">
              <ion-icon name="checkmark"></ion-icon> {{quest.name}}
            </ion-card-title>
    
            <ion-card-subtitle>
              Reward: {{quest.reward}} 💎
            </ion-card-subtitle>

          </ion-col>

          <ion-col size="4" style="padding-left: 3%; vertical-align: middle;">
            <ion-button style="width: 100%;" color="brown" (click)="collect(quest.id, quest.reward)" *ngIf="quest.collected === 0">
              Collect
            </ion-button>
          </ion-col>

        </ion-row>

      </ion-card-header>

    </ion-card>

    <!-- Done and collected -->
    <ion-card style="text-align: justify;" color="successRichQuizz" *ngIf="quest.status === 1 && quest.collected === 1">
      
      <ion-card-header>

        <ion-card-title style="font-weight: 600;">
          <ion-icon name="checkmark"></ion-icon> {{quest.name}}
        </ion-card-title>

        <ion-card-subtitle>
          Reward: {{quest.reward}} 💎
        </ion-card-subtitle>

      </ion-card-header>

    </ion-card>

  </div>

</ion-content>
