<ion-header>
</ion-header>

<ion-content>
  
  <app-theme-bar [theme]="'Challenges'" [rq_color]="'#fd625e'"></app-theme-bar>

  <div *ngFor="let quest of this.db.quests">

    <!-- Not done -->
    <ion-card style="text-align: center;" color="dangerRichQuizz" *ngIf="quest.status === 0">   
      <ion-card-header>
        <ion-card-title style="font-weight: 600;">{{quest.name}}</ion-card-title>

        <ion-card-subtitle>
          Reward: {{quest.reward}} 💎
        </ion-card-subtitle>

      </ion-card-header>
    
      <ion-card-content>
        <app-progression-bar [value]="(quest.done / quest.result) * 100"></app-progression-bar>
      </ion-card-content>
    </ion-card>

    <!-- Done -->
    <ion-card style="text-align: center;" color="successRichQuizz" *ngIf="quest.status === 1">
      
      <ion-card-header>

        <ion-card-title style="font-weight: 600;">
          <ion-icon name="checkmark"></ion-icon> {{quest.name}}
        </ion-card-title>

        <ion-card-subtitle>
          Reward: {{quest.reward}} 💎
        </ion-card-subtitle>

        <ion-button (click)="collect(quest.id, quest.reward)" *ngIf="quest.collected === 0">
          Collect
        </ion-button>

      </ion-card-header>

    </ion-card>

  </div>

</ion-content>
