// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-RichQuizzTomato
{
    --ion-color-base: tomato;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #d3513a;
    --ion-color-tint: tomato;
}

.ion-color-RichQuizzGreenyBlue
{
    --ion-color-base: #278fc6;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: rgb(92, 92, 167);
    --ion-color-tint: #278fc6;
}

.ion-color-RichQuizzNormalBlue
{
    --ion-color-base: #686fd2;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #5d63b9;
    --ion-color-tint: #686fd2;
}

.ion-color-RichQuizzBackground
{
    --ion-color-base: #fcfcfc;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #dfdfdf;
    --ion-color-tint: #fcfcfc;
}

.ion-color-RichQuizzGreen
{
    --ion-color-base: #5fbf9a;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #4c9679;
    --ion-color-tint: #5fbf9a;
}

.ion-color-successRichQuizz
{
    --ion-color-base: #5fbf9a;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: rgb(69, 133, 107);
    --ion-color-tint: #5fbf9a;
}

.ion-color-dangerRichQuizz
{
    --ion-color-base: #f05b61;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #ca4e52;
    --ion-color-tint: #f05b61;
}

.ion-color-firstBtn
{
    --ion-color-base: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%) !important;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e6e6e6;
    --ion-color-tint: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%) !important;
}

.ion-color-secondBtn
{
    --ion-color-base: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%) !important;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e6e6e6;
    --ion-color-tint: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%) !important;
}

.ion-color-thirdBtn
{
    --ion-color-base: linear-gradient(90deg, #f05053 0%, #e1eec3 100%) !important;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e6e6e6;
    --ion-color-tint: linear-gradient(90deg, #f05053 0%, #e1eec3 100%) !important;
}

.ion-color-fourthBtn
{
    --ion-color-base: linear-gradient(90deg, #649173 0%, #DBD5A4 100%) !important;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e6e6e6;
    --ion-color-tint: linear-gradient(90deg, #649173 0%, #DBD5A4 100%) !important;
}

.ion-color-win
{
    --ion-color-base: linear-gradient(90deg, #649173 0%, #DBD5A4 100%) !important;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e6e6e6;
    --ion-color-tint: linear-gradient(90deg, #649173 0%, #DBD5A4 100%) !important;
}

.ion-color-loose
{
    --ion-color-base: linear-gradient(90deg, #f05b61 0%, #CF5283 100%) !important;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e6e6e6;
    --ion-color-tint: linear-gradient(90deg, #f05b61 0%, #CF5283 100%) !important;
}