// ion-button {
//     --box-shadow: none;
// }

.BackgroundGradient
{
    --background: linear-gradient(180deg, #203844 0%, #294958 100%) !important;
}

.QcmWithImg {
    --border-radius: 7px;
    width: 100%;
    font-weight: 500;
    font-size: 1.5em;
    padding: 2%;
    margin: 0%;
}