<ion-header>
</ion-header>

<ion-content style="height: 100vh;" class="BackgroundGradient">

  <!-- Diamonds -->
  <ion-row align-items-center style="width: 100%; padding-left: 4vw; padding-right: 4vw;">
    <ion-col size="12" style="width: 100%;">
      <p style="text-align: left; color: #ffffff;">
        <span>💎</span>
        {{this.db.diamonds.getValue()}}
      </p>
    </ion-col>
  </ion-row>

  <!-- Image + Question -->
  <ion-row  
    style="
      text-align: center !important;
      width: 100%;
      padding-left: 4vw;
      padding-right: 4vw;
    "
  >

    <ion-col size="12" style="padding-bottom: 2vh; height: 20vh; width: 100%;">
      <ion-text>
        <h1 class="question">
          {{this.quizz.question}}
        </h1>
      </ion-text>      
    </ion-col>

    <ion-col size="12" *ngIf="this.quizz.image_url">
      <ion-img
        [src]="this.quizz.image_url"
        class="imgQuizz"
      ></ion-img>
    </ion-col>

  </ion-row>  

  <div style="bottom: 0; padding-left: 3vw; padding-right: 3vw; margin: 0%;">

    <!-- Si il s'agit d'un true / false -->
    <ion-row *ngIf="this.quizz.type_id === 0" style="width: 100%; padding-top: 6vh;">

      <ion-col size="6">
        <ion-button
          class="TrueFalseBtn"
          shape="round"
          expand="full"
          color="win"
          (click)="checkResult('true')"
        >
          VRAI
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
          class="TrueFalseBtn"
          shape="round"
          expand="full"
          color="loose"
          (click)="checkResult('false')"
        >
          FAUX
        </ion-button>
      </ion-col>

    </ion-row>

    <!-- Si il s'agit d'un QCM et qu'il y a une image alors -->
    <ion-row *ngIf="this.quizz.type_id === 1 && this.quizz.image_url" style="width: 100%; padding-top: 4vh;">

      <ion-col size="6">
        <ion-button
          expand="full"
          color="firstBtn"
          class="QcmWithImg"
          shape="round"
          size="large"
          (click)="checkResult(this.quizz.option_1)"
        >
          {{this.quizz.option_1}}
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
          expand="full"
          color="secondBtn"
          class="QcmWithImg"
          shape="round"
          size="large"
          (click)="checkResult(this.quizz.option_2)"
        >
          {{this.quizz.option_2}}
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
          expand="full"
          color="thirdBtn"
          class="QcmWithImg"
          shape="round"
          size="large"
          (click)="checkResult(this.quizz.option_3)"
        >
          {{this.quizz.option_3}}
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
          expand="full"
          color="fourthBtn"
          class="QcmWithImg"
          shape="round"
          size="large"
          (click)="checkResult(this.quizz.option_4)"
        >
          {{this.quizz.option_4}}
        </ion-button>
      </ion-col>

    </ion-row>

    <!-- Si il s'agit d'un QCM et qu'il y a pas d'image alors -->
    <ion-row *ngIf="this.quizz.type_id === 1 && !this.quizz.image_url" style="width: 100%; padding-top: 4vh;">

      <ion-col size="12">
        <ion-button
          expand="full"
          color="firstBtn"
          class="QcmWithoutImg"
          shape="round"
          (click)="checkResult(this.quizz.option_1)"
        >
          {{this.quizz.option_1}}
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button
          expand="full"
          color="secondBtn"
          class="QcmWithoutImg"
          shape="round"
          (click)="checkResult(this.quizz.option_2)"
        >
          {{this.quizz.option_2}}
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button
          expand="full"
          color="thirdBtn"
          class="QcmWithoutImg"
          shape="round"
          (click)="checkResult(this.quizz.option_3)"
        >
          {{this.quizz.option_3}}
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button
          expand="full"
          color="fourthBtn"
          class="QcmWithoutImg"
          shape="round"
          (click)="checkResult(this.quizz.option_4)"
        >
          {{this.quizz.option_4}}
        </ion-button>
      </ion-col>

    </ion-row>

    <!-- Si il s'agit d'un spell -->
    <ion-row *ngIf="this.quizz.type_id === 2" style="width: 100%; padding-top: 6vh;">

      <ion-col size="12">
        <p style="text-align: center;">
          {{this.currentSpell}}
        </p>        
      </ion-col>

      <ion-col size="2" *ngFor="let letter of this.spellArray">
        <ion-button
          class="SpellLetter"
          shape="round"
          expand="full"
          color="win"
          (click)="this.addSpell(letter)"
        >
          {{letter}}
        </ion-button>
      </ion-col>

      <ion-col size="2">
        <ion-button
          class="SpellLetterSend"
          shape="round"
          expand="full"
          color="win"
          (click)="this.checkResult(currentSpell)"
        >
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="2">
        <ion-button
          class="SpellLetterSend"
          shape="round"
          expand="full"
          color="win"
          (click)="this.clearSpell()"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>

  </div>

</ion-content>