<ion-header>
</ion-header>

<ion-content>

  <!-- Banner logo and theme -->
  <app-theme-bar [theme]="'Niveaux'" [rq_color]="'#fd625e'"></app-theme-bar>

  <div *ngFor="let level of this.db.AllUnlockAt">

    <!-- Locked -->
    <ion-card style="text-align: center;" color="dangerRichQuizz" *ngIf="this.db.countDone.getValue() < level.points">
      
      <ion-card-header>

        <ion-card-title style="font-weight: 600;">
          <ion-icon name="lock"></ion-icon> {{level.name}}
        </ion-card-title>

        <ion-card-subtitle>
          Quizz résolues. <b style="font-size: 1.25em;">{{level.done}}/20</b>
        </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <p>{{level.points - this.db.countDone.getValue()}} quizz restant avant le dévérouillage.</p>
      </ion-card-content>

    </ion-card>

    <!-- Unlocked -->
    <ion-card style="text-align: center;" color="successRichQuizz" (click)="this.GoPlay(level.name)" *ngIf="this.db.countDone.getValue() >= level.points">   
      <ion-card-header>
        <ion-card-title style="font-weight: 600;">{{level.name}}</ion-card-title>
        <ion-card-subtitle>Quizz résolues. <b style="font-size: 1.25em;">{{level.done}}/20</b></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <app-progression-bar
          [value]="(level.done / 20) * 100"
          [color1]="'#379789'"
          [color2]="'#3FA798'"
        ></app-progression-bar>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
