<ion-content>

    <div 
      style="
        height: 50vh;
        width: 70vw;
  
        position: absolute;
        left: 56%;
        top: 50vh;
        margin-left: -150px;
        margin-top: -150px;
      "
      class="animated shake"
    >
  
      <!-- Header -->
      <div
        class="badAnswer"
        style="
          text-align: center;
          color: #ffffff;
          height: 20%;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
        "
      >
        <p
          style="
            font-size: 1.25em;
            font-weight: 600;
            margin-top: 0% !important;
            padding-top: 9%;
          "
        >
          Mauvaise réponse
        </p>
      </div>
  
      <!-- Footer -->
      <div
        style="
          background-color: #ffffff;
          padding-left: 6%;
          padding-right: 6%;
          padding-bottom: 4%;
          height: 80%;
          text-align: center;
          border-bottom-right-radius: 25px;
          border-bottom-left-radius: 25px;
        "
      >
        <p style="color: #ff3061; margin-top: 0%; padding-top: 6%;">
          <ion-icon name="alert"></ion-icon>
          Vous avez <b style="font-size: 1.25em;">{{this.db.diamonds.getValue()}} 💎</b>
        </p> 
  
        <p style="color: #474747;">
          Voulez-vous réesayer ?
        </p> 
  
        <ion-button 
          (click)="pay()"
          expand="full"
          shape="round"
          size="large"
          color="retry"
          style="color: #804f00; margin-bottom: 5%;"
        >
          Oui
          <strong>&nbsp;-1 💎</strong>
        </ion-button>
  
        <ion-button 
          (click)="goBack()"
          expand="full"
          shape="round"
          size="large"
          color="retry"
          style="color: #804f00;"
        >
          Non
        </ion-button>
  
      </div>
  
    </div>
  
  </ion-content>