.progress-outer {
    width: 96%;

    // Espacement entre la bar et le haut/bas
    margin: 2.5% 2%;

    // Espacement entre les deux couleurs
    padding: 0px;
    
    text-align: center;
    background-color: #4c9679;
    border: 0px solid #4c9679;
    color: #fff;
    border-radius: 2%;
    font-size: 1em;
}

.progress-inner {
    min-width: 15%;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;

    // Espacement entre le pourcentage et la bar
    padding: 0.5%;

    border-radius: 2%;
    background-color: #5fbf9a;
}