<ion-header>
</ion-header>

<ion-content>

	<ion-button
		expand="full"
		class="PlayBtn"
		color="play"
		(click)="GoPlay()"
		routerDirection="forward"
	>
		<!-- <ion-img [src]="'assets/img/play-button.png'"></ion-img> -->
		<!-- <ion-icon name="play"></ion-icon> -->
		<!-- 🎮 -->
		JOUER
	</ion-button>
	
	<ion-button
		expand="full"
		class="OthersBtn"
		color="RichQuizzLightGreen"
		(click)="GoDefis()"
		routerDirection="forward"
	>
		Défis
	</ion-button>
	
	<ion-button
		expand="full"
		class="OthersBtn"
		color="RichQuizzGreenyBlue"
		(click)="GoScores()"
		routerDirection="forward"
	>
		SCORES
	</ion-button>

	<ion-button
		expand="full"
		class="OthersBtn"
		color="RichQuizzNormalBlue"
		(click)="GoRules()"
		routerDirection="forward"
	>
		REGLES
	</ion-button>

</ion-content>
