<ion-header>
</ion-header>

<ion-content>

	<ion-button
		expand="full"
		class="PlayBtn BackgroundGradientPlayBtn"
		color=""
		(click)="GoThemes()"
		routerDirection="forward"
	>
		JOUER
	</ion-button>
	
	<ion-button
		expand="full"
		class="ScoreBtn"
		color="RichQuizzGreenyBlue"
		(click)="GoScores()"
		routerDirection="forward"
	>
		SCORES
	</ion-button>

	<ion-button
		expand="full"
		class="RulesBtn"
		color="RichQuizzNormalBlue"
		(click)="GoRules()"
		routerDirection="forward"
	>
		REGLES
	</ion-button>

</ion-content>
