<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un Quizz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="AddQuizz" (ngSubmit)="RenderToJson()">

    <ion-item>
      <ion-label position="stacked">Theme</ion-label>
      <ion-select interface="popover" formControlName="theme" placeholder="Choose the theme" required>
        <ion-select-option value="0" selected>voitures</ion-select-option>
        <ion-select-option value="1">nourriture</ion-select-option>
        <ion-select-option value="2">alcools</ion-select-option>
        <ion-select-option value="3">mobiliers</ion-select-option>
        <ion-select-option value="4">loisirs</ion-select-option>
        <ion-select-option value="5">bijoux</ion-select-option>
        <ion-select-option value="6">vêtements</ion-select-option>
        <ion-select-option value="7">high-tech</ion-select-option>
        <ion-select-option value="8">immobilier</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" placeholder="Choose the type" required>
        <ion-select-option value="0" selected>True or False</ion-select-option>
        <ion-select-option value="1">Multiple Choices</ion-select-option>
        <ion-select-option value="2">Spell Word</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Level</ion-label>
      <ion-select formControlName="difficulty" placeholder="Choose the level" required>
        <ion-select-option value="0">Level 1</ion-select-option>
        <ion-select-option value="1">Level 2</ion-select-option>
        <ion-select-option value="2">Level 3</ion-select-option>
        <ion-select-option value="3">Level 4</ion-select-option>
        <ion-select-option value="4">Level 5</ion-select-option>

        <ion-select-option value="5">Level 6</ion-select-option>
        <ion-select-option value="6">Level 7</ion-select-option>
        <ion-select-option value="7">Level 8</ion-select-option>
        <ion-select-option value="8">Level 9</ion-select-option>
        <ion-select-option value="9">Level 10</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <ion-input 
        formControlName="image"
        type="text"
        placeholder="Image path..."
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Question</ion-label>
      <ion-input 
        formControlName="question"
        type="text"
        placeholder="Your question here..."
        required
      ></ion-input>
    </ion-item>

    <ion-item>

      <!-- Si true / false -->
      <div *ngIf="this.AddQuizz.get('type').value == 0">

        <!-- FALSE<ion-toggle formControlName="answer"></ion-toggle>TRUE -->

        <ion-label position="stacked">Answer</ion-label>

        <ion-segment formControlName="answer">

          <ion-segment-button value="false">
            <ion-label>False</ion-label>
          </ion-segment-button>

          <ion-segment-button value="true">
            <ion-label>True</ion-label>
          </ion-segment-button>

        </ion-segment>
  
      </div>

      <!-- Si il s'agit d'une qcm -->
      <div *ngIf="this.AddQuizz.get('type').value == 1 || this.AddQuizz.get('type').value == 2">

        <ion-label position="stacked">Answer</ion-label>

        <ion-input 
          formControlName="answer"
          type="text"
          placeholder="The answer of it here..."
          required
        ></ion-input>
  
      </div>

    </ion-item>

    <!-- Si il s'agit d'un QCM alors afficher les 4 options -->
    <div *ngIf="this.AddQuizz.get('type').value == 1" >

      <ion-item>
        <ion-label position="stacked">Option_1</ion-label>
        <ion-input formControlName="option_1" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Option_2</ion-label>
        <ion-input formControlName="option_2" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Option_3</ion-label>
        <ion-input formControlName="option_3" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Option_4</ion-label>
        <ion-input formControlName="option_4" type="text"></ion-input>
      </ion-item>

    </div>

    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-input 
        formControlName="status"
        type="number"
        value="0"
        placeholder="Never done"
        Disabled
      ></ion-input>
    </ion-item>

    <ion-button block color="primary" type="submit" [disabled]="AddQuizz.invalid">
      Ajouter
    </ion-button>

  </form>

  <ion-button (click)="DestroyDatabase()">
    Destroy Database
  </ion-button>

  <ion-button (click)="AddDiamonds(100)">
    Add 100 💎
  </ion-button>

  <br>

  <p>
    {{this.JsonQuizz}}
  </p>
  
</ion-content>
